tmp
outputs
report1
models
videos
.vscode
__pycache__
*.pyc
*.mp4
*.mov
*.avi
*.webm
*.csv
thirdparty
*.log
*.old
*.pth
*.onnx
*.rknn
*.json
*.csv
*.ipynb
*.o
*.so
*.a
*.dll
*.exe
mask.png
*.zip
examples/
tracenet/
denoisenet/
*.example.*
*.service
*.yml
*.pdf