tmp
outputs
report1
models
videos
.vscode
__pycache__
*.pyc
*.mp4
*.mov
*.avi
*.mkv
*.rmvb
*.flv
*.m4v
*.mpg
*.mpeg
*.wmv
*.asf
*.rm
*.webm
*.csv
thirdparty
*.log
*.old
*.pth
*.onnx
*.rknn
*.json
*.csv
*.ipynb
*.o
*.so
*.a
*.dll
*.exe
mask.png
*.zip
*.7z
*.rar
examples/
tracenet/
denoisenet/
*.example.*
*.service
*.yml
*.pdf
mask.png
magic_happening_lab_demo.py
*.env
