<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>危岩落石智能监测系统</title>
    <!-- css urls -->
    <link rel="stylesheet" href="/css/main.css">
    <style>
        #imageContainer {
          color: white; /* White text color */
          font-size: 24px; /* Large font size for visibility */
          font-family: Arial, sans-serif; /* Font family for text */
        }
        #dynamicImage {
          width: 100%; /* Full width of the container */
          height: 100%; /* Full height of the container */
        }
        .error-message {
          display: none;
          position: absolute;
        }
    </style>
    <!-- js urls -->
    <script src="/js/main.js"></script>
    <script>
        function loadImage() {
          var timestamp = new Date().getTime();
          var img = document.getElementById('dynamicImage');
          var errorMessage = document.getElementById('errorMessage');
          var serverUrl = '/video/get_frame'; // Replace with your server's image endpoint
        
          // Hide error message when trying to load a new image
          errorMessage.style.display = 'none';
        
          // Attempt to load a new image
          img.src = `${serverUrl}?t=${timestamp}`;
        }
        
        function toggle_motion_map() {
            var img = document.createElement('img');
            var serverUrl = '/video/toggle_motion_map'; // Replace with your server's image endpoint
            img.src = `${serverUrl}`;
        }

        function init() {
          var img = document.getElementById('dynamicImage');
          var errorMessage = document.getElementById('errorMessage');
        
          img.onload = function() {
            // Load a new image when the current one has finished loading
            loadImage();
          };
        
          img.onerror = function() {
            // If an error occurs, display the error message
            errorMessage.style.display = 'block';
            // Remove the src attribute since the image failed to load
            img.style.display = 'none';
            loadImage();
          };
        
          // Start the process by loading the first image
          loadImage();
        }
        
        window.onload = init;
    </script>
</head>
<body>
    <div class="container">
        <!-- Container for the image and error message -->
        <div id="imageContainer">
            <!-- The image element where the dynamic image will be shown -->
            <img id="dynamicImage" alt="Dynamic Image" ondblclick="toggle_motion_map()">
            <!-- The error message that will be displayed when the image fails to load -->
            <div id="errorMessage" class="error-message">Video Error</div>
        </div>
        <div id="info" class="section info">
            <div class="title">监测对象概述</div>
            <ul class="tags">
                {% for tag in target_tags %}
                {% if tag == "危岩" %}
                <li class="tag gray">{{ tag }}</li>
                {% else %}
                <li class="tag blue">分散农户</li>
                {% endif %}
                {% endfor %}
            </ul>
            <ul class="description">
                <li class="description-item">
                    <span class="description-item-title">监测点名称</span>
                    <span class="description-item-content">{{ target_name }}</span>
                </li>
                <li class="description-item">
                    <span class="description-item-title">地理位置</span>
                    <span class="description-item-content">{{ location }}</span>
                </li>
                <li class="description-item">
                    <span class="description-item-title">规模范围</span>
                    <span class="description-item-content">{{ target_range }}{{ target_range_unit }}</sup></span>
                </li>
                <li class="description-item">
                    <span class="description-item-title">地质灾害现状和发展趋势简述</span>
                    <span class="description-item-content">{{ target_desc }}</span>
                </li>
            </ul>
        </div>
        <div id="events" class="section">
            <table class="table row-strided">
                <tr>
                    <th>&nbsp;</th>
                    <th>事件时间</th>
                    <th>数量</th>
                    <th>最大体积 (M<sup>3</sup>)</th>
                    <th>最大速度 (M/s)</th>
                </tr>
                {% for event in alerts %}
                <tr onclick="download_video('{{ event[4] }}')">
                    <td>&#9654;</td>
                    <td>{{ event[0] }}</td>
                    <td>{{ event[1] }}</td>
                    <td>{{ event[2] }}</td>
                    <td>{{ event[3] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="section">
            <a href="/sys/solar" target="_blank">太阳能面板监测</a> 
            <a href="/sys/temperature" target="_blank">系统温度监测</a>
        </div>
    </div>
</body>
</html>