<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>危岩落石智能监测系统</title>
    <!-- css urls -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- js urls -->
    <script src="/js/main.js"></script>
</head>
<body>
    <div class="container">
        <a id="preview-link" href="{{ live_url }}"><img src="{{ video_preview_url }}" class="preview" id="preview" alt="preview"></a>
        <div id="info" class="section info">
            <div class="title">监测对象概述</div>
            <ul class="tags">
                <li class="tag gray">滑 坡</li>
                <li class="tag blue">分散农户</li>
            </ul>
            <ul class="description">
                <li class="description-item">
                    <span class="description-item-title">监测点名称</span>
                    <span class="description-item-content">二等坡社</span>
                </li>
                <li class="description-item">
                    <span class="description-item-title">地理位置</span>
                    <span class="description-item-content">昭通市马龙村</span>
                </li>
                <li class="description-item">
                    <span class="description-item-title">规模范围</span>
                    <span class="description-item-content">15万m<sup>2</sup></span>
                </li>
                <li class="description-item">
                    <span class="description-item-title">地质灾害现状和发展趋势简述</span>
                    <span class="description-item-content">该点为浅层复合式中型滑坡，浅部地层以第四系残坡积今碎、块石粉质粘士为主，下部为二番系上统龙潭组(P11)砂岩，现状后缘一带局部小规模滑坡垮塌，裂缝发育。现状处于整体“推移+牵引”式蠕动变形阶段，总体欠稳定。危害等级为1级。</span>
                </li>
            </ul>
        </div>
        <div id="events" class="section">
            <table class="table row-strided">
                <tr>
                    <th>&nbsp;</th>
                    <th>事件时间</th>
                    <th>数量</th>
                    <th>最大体积 (M<sup>3</sup>)</th>
                    <th>最大速度 (M/s)</th>
                </tr>
                {% for event in alerts %}
                <tr onclick="download_video('{{ event[4] }}')">
                    <td>&#9654;</td>
                    <td>{{ event[0] }}</td>
                    <td>{{ event[1] }}</td>
                    <td>{{ event[2] }}</td>
                    <td>{{ event[3] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="section">
            <a href="/sys/solar" target="_blank">太阳能面板监测</a> 
            <a href="/sys/temperature" target="_blank">系统温度监测</a>
        </div>
    </div>
</body>
</html>